<div class="head">
    <!--&nbsp;&nbsp;&nbsp; Customer -->
</div>
<!--
<form [formGroup]="forgotForm" (ngSubmit)="Forgot()">
    <div class="login">
        <h1><label>Forgot Password</label></h1>
        <label for="Username" style=" float:left;" >Enter Username: </label>
        <input  class="form-control" type="text" name="username" formControlName="username"> &nbsp;
        <br>
        <label for="Email" style=" float:left;" >Enter Email: </label>
        <input  class="form-control" type="text" name="email" formControlName="email"> &nbsp;
        <br>
        <label for="Password" style=" float:left;">Enter New Password: </label>
        <input class="form-control" type="password" name="password"  formControlName="password">
        <button type="submit" value="Forgot"> Forgot </button>
        ___________ OR___________ <br>
        <br>
        <div class="center">
            <a href="customer/login">Login? </a>
        </div>
        <hr>
        <div class="center">
            <a href="customer/registration">Don't have an account? Sign Up </a>
        </div>
        <br>
    </div>
    </form>
    <br>

-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />


<div class="container">
    <div class="row">
        <div class="column">
            <div class="body1">
                <img src="../../../assets/Images/login.png" style="height:490px; width: 500px;">
            </div>
        </div>

        <div class="column">
            <div class="image">
                <img src="../../../assets/Images/avatar-3814081_640.png" style="height:110px; width: 110px;"
                    class="rounded-pill">
            </div>
            <div class="body">
                <form form [formGroup]="forgotForm" (ngSubmit)="Forgot()">
                    <br>
                    <br> <br>
                    <i class="fas fa-user"></i>
                    <input class="form-control" type="text" placeholder="User Name" name="username" id="username"
                        formControlName="username">

                    <div *ngIf="forgotForm.controls['username'].invalid && forgotForm.controls['username'].touched"
                        class="alert alert-danger">
                        <div *ngIf="forgotForm.controls['username'].errors.required">
                            User Name is required.
                        </div>
                    </div>

                    <i class='fas fa-envelope'></i>
                    <input class="form-control" type="text" placeholder="Email" name="email" id="email"
                        formControlName="email">

                    <div *ngIf="forgotForm.controls['email'].invalid && forgotForm.controls['email'].touched"
                        class="alert alert-danger">
                        <div *ngIf="forgotForm.controls['email'].errors.required">
                            Email is required.
                        </div>
                        <div *ngIf="forgotForm.controls['email'].errors.email">
                            Enter Valid Email Id
                        </div>
                    </div>

                    <i class="fas fa-lock"></i>
                    <input class="form-control" placeholder="New Password" type="password" name="password" id="password"
                        formControlName="password">

                        <div *ngIf="forgotForm.controls['password'].invalid && forgotForm.controls['password'].touched"
                        class="alert alert-danger">
                        <div *ngIf="forgotForm.controls['password'].errors.required">
                            Password is required.
                        </div>
                        <div *ngIf="forgotForm.controls['password'].errors.minlength">
                            Password must be at least 8 characters
                        </div>
                        <div *ngIf="forgotForm.controls['password'].errors.maxlength">
                            Password must not exceed 12 characters
                        </div>
                    </div>
                    
                    <a href="customer/login" style="float: right; margin-top: 5px;">Login?</a><br>

                    <br>
                    <input type="submit" value="Forgot">
                    <hr>
                    Not a member? <a href="customer/registration">Signup now</a>
                    <br><br>
                    
                </form>
            </div>

        </div>
    </div>
</div>