<div class="head">
</div>
<div class="container">
    <div class="row">
        <div class="column">
            <div class="body">
                <p align="left">
                <h1 style="font-size:60px;"><u>About<br>Us</u></h1><br>

                To solve the entire problems between gas agencies and customers.
                A priority delivery queue will be created from the admin side.
                Various request numbers and reference numbers will be generated according to the situation. So that
                orders
                can be traceable anywhere at any time.
                Providing a simple user interactive interface for booking gas online which will save them time and
                money.
                Client-server architecture is implemented for faster data transactions and reports can be generated too.
                This application will display the user, the number of gas they booked online with a detailed description
                as
                there should be a limited time after which new gas can be booked.
                <hr>
            </div>
        </div>

        <div class="column">
            <div class="image">
                <img src="../../assets/Images/aboutUs.png" width="500" height="470" align="right">
            </div>
        </div>
    </div>
</div>